.cat-details {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  margin-bottom: 1rem;
}

.cat-img {
  width: 100px;
  border-radius: 100px;
  grid-column: 1;
  grid-row: 1;
}

.cat-name {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 2rem;
  grid-column: 2;
  grid-row: 1;
}
